body
{
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #DDD;
    font-size: 25px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#footer{
    color: rgb(29, 27, 27);
}

#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}

.nav{
    background-color: #DDD;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.nav ul li{
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

